
body,td {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

a { text-decoration:none; }
a:link { color:#0000FF; }
a:visited { color:#000090; }
a:active { color:#FF0000; }
a:hover { color:#AA0000; }

